/*Обнуление*/
/* *{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} 

----for bootstrap4

.container{
	padding: 0 0 0 0;
}
p{
	margin: 0 0 0 0;
}

font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;

*/
/*--------------------*/

.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
}

/*--------------------*/

@font-face {
	font-family: 'PlayfairDisplay-Black';
	src: url('fonts/PlayfairDisplay-Black.eot');
	src: local('☺'), url('fonts/PlayfairDisplay-Black.woff') format('woff'), url('fonts/PlayfairDisplay-Black.ttf') format('truetype'), url('fonts/PlayfairDisplay-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body{
	max-width: 1230px;
	margin: 0 auto;
}

.wrapper{
	padding: 0 15px;
}


.navbar {
		padding: 0 0 0 0;
		max-width: 1200px;
		margin: 0 0 72px 0;
		margin: 0 auto;
}

.navbar .container{
	padding: 0 0 0 0;
	margin: 0 auto;
	max-width: 1061px;
}


.navbar-brand {
	padding: 0 0 0 0;
	margin: 68px 0 0 0;
	color: #000000;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	/* Text style for "minim, ø" */
	letter-spacing: 6px;
}


.navbar-toggler:focus{
	outline: none;
}


.keke{
	position:fixed;
	top:-20px;
	right:15px;
	left:15px;
	z-index:1030;
}

.navbar-toggler {
	padding: 0 0 0 0;
	margin: 45px 15px 0 0;
	border: none;
}

.navbar-collapse{
	 justify-content: flex-end;
}

.nav-item--1 {
	margin: 65px 0 0 0;

}
.nav-item--2 {
	margin: 65px 0 0 121px;
}
.nav-item--3 {
	margin: 65px 0 0 103px;
}
.nav-item--4 {
	margin: 65px 0 0 95px;
}


.navbar-expand-sm .navbar-nav .nav-link{
	padding: 0 0 0 0;
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
}

@media screen and (max-width: 992px) { 
	.nav-item--1 {
	margin: 65px 0 0 0;
	}
	.nav-item--2 {
		margin: 65px 0 0 90px;
	}
	.nav-item--3 {
		margin: 65px 0 0 75px;
	}
	.nav-item--4 {
		margin: 65px 0 0 70px;
	}
}

@media screen and (max-width: 768px) { 
	.nav-item--1 {
	margin: 45px 0 0 0;
	}
	.nav-item--2 {
		margin: 45px 0 0 45px;
	}
	.nav-item--3 {
		margin: 45px 0 0 40px;
	}
	.nav-item--4 {
		margin: 45px 0 0 38px;
	}
	.navbar-brand{
		margin: 45px 0 0 0;
	}
}

@media screen and (max-width: 575px) { 
	.navbar{
		padding: 0 0 15px 0;
		margin: 0 0 10px 0;
	}
	.navbar-nav{
		height: 100%;
	}
	.nav-item--1 {
	margin: 45px 0 0 0;
	}
	.nav-item--2 {
		margin: 45px 0 0 0;
	}
	.nav-item--3 {
		margin: 45px 0 0 0;
	}
	.nav-item--4 {
		margin: 45px 0 0 0;
	}
	.navbar-brand{
		margin: 45px 0 0 0;
	}
	.navbar-collapse{
	justify-content: flex-start;
	height: 100vh;
	}
}

.sr-only {}

.main-img{
	max-width: 1061px;
}

.main-img{
	padding: 0 0 0 0;
	margin: 100px auto 95px auto;
}

.main-img img{
	width: 100%;
	height: auto;
}

.photodiary {
	max-width: 1200px;
	margin: 0 158px 135px 149px;
}
.photodiary-content {
	max-width: 893px;
	display: block;
	margin: 0 auto;

}


.photodiary-content h4{
	color: #b4ad9e;
	font-family: Ubuntu;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0 0 18px 0;

}


.photodiary-content h2{
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 30px 0;
}

.photodiary-content p{
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 40px 0;
	overflow: hidden;
	width:100%;
	transition:all 0.5s;
}
.photodiary-content-readmore{
	
}
.photodiary-content-comment{
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;	
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}


@media screen and (max-width: 768px) { 
	.photodiary{
		max-width: 100%;
		margin: 0 0 0 0;
	}
	.main-img{
		margin: 60px 0 60px 0;

	}
}



.lifestyle {
	max-width: 1200px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.lifestyle-row {
	margin: 0 auto;
	max-width: 893px;

}

.lifestyle-row-container{
		display: flex;
		flex-wrap: wrap;
}



.lifestyle-box{

	flex: 1 0 50%;
	margin: 0 0 132px 0;
}
.lifestyle-box1{
	padding-right: 30px;
}
.lifestyle-box2{
	padding-left: 30px;
}



.lifestyle-head1{
	width: 100%;
	height: 280px;
	background-image: url(../img/lifestyle/img_01.jpg);
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;
}

.lifestyle-head2{
	width: 100%;
	height: 280px;
	background-image: url(../img/lifestyle/img_02.jpg);
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;

}

.lifestyle-head3{
	width: 100%;
	height: 280px;
	background-image: url(../img/lifestyle/img_03.jpg);
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;
}

.lifestyle-head4{
	width: 100%;
	height: 280px;
	background-image: url(../img/lifestyle/img_04.jpg);
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;
}

.lifestyle-body {
	padding: 0 0 0 0;

}
.lifestyle-subtitle {
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;	
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0 0 0 1px;
}
.lifestyle-title {
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 28px 0;
	padding: 0 0 0 0; 

}
.lifestyle-text {
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 0 0;
}

@media screen and (max-width: 768px) { 
	.lifestyle-box{
		flex: 0 0 100%;
		margin: 0 0 50px 0;
	}
	.lifestyle-box1{
	padding-right: 0;
	}
	.lifestyle-box2{
		padding-left: 0;
	}
	.lifestyle{
		margin-bottom: 30px;
	}
}

.signUp {
	display: flex;
	background-color: #f0f0f0;
	margin: 0 0 103px 0;
	flex-direction: column;
}
.signUp__head {
	text-align: center;
	color: #333333;
	font-family: "Playfair Display";
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 0.75px;
	padding: 73px 0 83px 0;
}

.signUp__formBlock{
	width: 431px;
	border-bottom: 2px solid #000000;
	margin: 0 auto 74px auto;
}

.signUp__form {
	text-align: center;

	position: relative;
	
}

.form__email{
	border: none;
	background: none;
	width: 383px;
	color: #626262;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding: 8px;
}

.form__email:focus{
	border: none;
	outline: none;
}

.signUp_btn{
	background-color: none;
	border: none;
	background: url(../img/form-arrow/form-arrow.png) no-repeat 50% 50%;
	width: 32px;
	height: 17px;
}

@media screen and (max-width: 768px) { 
	.signUp{
		margin-bottom: 50px;
	}
	.signUp__formBlock{
		width: 350px;
		border-bottom: 2px solid #000000;
		margin: 0 auto 74px auto;
	}
	.signUp_btn{
		background-color: none;
		border: none;
		background: url(../img/form-arrow/form-arrow.png) no-repeat 50% 50%;
		width: 32px;
		height: 17px;
	}
	.form__email{
		border: none;
		background: none;
		width: 300px;
		color: #626262;
		font-family: "Playfair Display";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		padding: 8px;
	}
}

@media screen and (max-width: 425px) { 
	.signUp{
		margin-bottom: 50px;
	}
	.signUp__formBlock{
		width: 270px;
		border-bottom: 2px solid #000000;
		margin: 0 auto 74px auto;
	}
	.signUp_btn{
		background-color: none;
		border: none;
		background: url(../img/form-arrow/form-arrow.png) no-repeat 50% 50%;
		width: 32px;
		height: 17px;
	}
	.form__email{
		border: none;
		background: none;
		width: 220px;
		color: #626262;
		font-family: "Playfair Display";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		padding: 8px;
	}
}


.lifestyle2__block {
	max-width: 893px;
	margin: 0 auto;
}
.lifestyle2__row {
	display: flex;

}



.lifestyle2__cardWrap1{
	padding-right: 30px;
}

.lifestyle2__cardWrap2{
	padding-left: 30px;
}

.lifestyle2__cardWrap{
	flex: 1 0 50%;
	flex-direction: column;
	margin: 0 0 132px 0;
}



.lifestyle2_image1 {
	background: url(../img/form-arrow/img1.jpg);
	width: 100%;
	height: 280px;
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;
}

.lifestyle2_image2 {
	background: url(../img/form-arrow/img2.jpg);
	width: 100%;
	height: 280px;
	background-size: cover;
	background-position: center center;
	margin: 0 0 28px 0;
}
.lifestyle2-body {
	padding: 0 0 0 0;
}

.lifestyle2-body h4{
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;	
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0 0 0 1px;
}

.lifestyle2-body h2{
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 28px 0;
}


.lifestyle2-body p{
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 0 0;
}

@media screen and (max-width: 768px) { 
	.lifestyle2__row{
		display: flex;
		flex-wrap: wrap;
	}
	.lifestyle2__cardWrap{
		flex: 1 0 100%;
		margin: 0 0 50px 0;
		padding: 0 0 0 0;
	}

}

footer{
	background-color: #f0f0f0;
	padding: 40px 0 40px 0;
}
.foot__container{
	max-width: 1061px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.foot__left a, .foot__right a{
	display: block-inline;
	text-decoration: none;
	flex: 1 0 50%;
	color: #000000;
	font-family: "Playfair Display";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}






.foot__terms {
	padding: 0 0 0 0;
	margin: 40px 17px 45px 15px;
}
.foot__privacy {}
.foot__right {}
.foot__follow {}
.foot__facebook {}
.foot__twitter {}
.foot__instagram {}

.foot__right *:nth-child(1){

}

.foot__right *:nth-child(2){
	margin: 40px 0px 43px 21px;
}

.foot__right *:nth-child(3){
	margin: 40px 0px 44px 17px;
}

.foot__right *:nth-child(4){
	margin: 40px 15px 42px 18px;
}

@media screen and (max-width: 425px) { 
	.foot__container{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.foot__left a{
		display: block;
		flex: 1 0 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
	}
	.foot__terms {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	.foot__left a, .foot__right a{
		padding: 8px;
	}
	footer{
		padding: 25px 0 25px 0;
	}
}